.main{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.img{
    width: 300px;
}
html {background-color: white}

input{
    border-radius: 1rem;
    height:2.5rem;
    width: 40rem;
    border: 1px solid black;
}

.buttons{
    margin-top: 20px;
   
}